html,body {
  width: 100%;
  height: 100%;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.lt_container {
  width: 100%;
  height: 100%;

  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom:55px;
  position: relative;
  background-color: #fff;
}

.lt_header {
  width: 100%;
  height: 45px;
  background-color: #006699;
  position: absolute;
  top: 0;
  left: 0;
  padding:0 45px;
}
.lt_header .icon_left,
.lt_header .icon_right{
  display: block;
  width: 45px;
  height: 45px;
  text-align: center;
  position: absolute;
  top: 0;
}
.lt_header .icon_left {
  left: 0;
}
.lt_header .icon_right {
  right: 0;
}
.lt_header i {
  line-height: 45px;
  color: #fff;
}

.lt_header h3 {
  color: #fff;
  text-align: center;
  line-height: 45px;
  font-size: 20px;
  font-weight:normal;
  margin: 0;
}
.lt_footer {
  width: 100%;
  height: 55px;
  background-color: #006699;
  position: absolute;
  bottom: 0;
  left: 0;
}
.lt_footer ul li {
  float: left;
  width: 25%;
}
.lt_footer ul li a {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  padding-top: 8px;
}
.lt_footer ul li a i {
  color: #fff;
}
.lt_footer ul li a p {
  margin: 0;
  color: #fff;
}
.lt_main {
  width: 100%;
  height: 100%;

  position: relative;
}
