.lt_main .lt_nav li {
  float: left;
  width: 33.3%;
}

.lt_main .lt_nav li a {
  display: block;

}
.lt_main .lt_nav li a img {
  display: block;
  width: 100%;
}

.lt_product {
  padding: 10px;
}

.lt_product ul li {
  width: 48%;
  float: left;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  text-align: center;

}
.lt_product ul li a {
  display: block;
  padding-top: 10px;
}
.lt_product ul li a img {
  display: block;
  width: 130px;
  height: 130px;
  margin: 0 auto;
}
.lt_product ul li:nth-child(odd){
  float: right;
}
.lt_product ul li a .info {
  height: 40px;
  text-align: left;
  margin-top: 10px;
  padding: 0 10px;
}
.lt_product ul li a .prices {
  padding-bottom: 10px;
  text-align: center;
  font-size: 18px;
}
.lt_product ul li a .mui-btn {
margin-bottom: 10px ;
}
.lt_product ul li a .prices .price {
  color: red;
  padding-right: 5px;
}
.lt_product ul li a .prices .oldPrice {
  text-decoration: line-through;
}
